nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
}
body {
    margin: 0;
}
#welcome-section {
    height: 100vh;
}
header {
    position: fixed;
    width: 100%;
}
nav a {
    font-size: 10px;
}

@media only screen and (min-width: 400px) {
    h1 {
        font-size: 35px;
        background: #555;
    }

    h2 {
        font-size: 28px;
        background: #555;
    }
}
@media only screen and (max-width: 600px) {
    h1, h2 {
        background-color: #444;
    }
}
